@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/*flexing the header & children ( the title and nav)*/

* {
  box-sizing: border-box;
}

.site {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  size: 10px;
}

.intro {
  background-color: #f1f1f1;
  flex: 50%;
  text-align: center;
  margin-top: 2px;
  font-size: 30px;
  font-size: 25px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  margin: 0;
}

h1 {
  font-size: 50px;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
nav {
  display: flex;
  flex-shrink: 3;
  flex-direction: row;
  padding: 2rem;
  font-size: 30px;
}

a:link,
a:visited {
  display: flex;
  background-color: lemonchiffon;
  color: black;
  padding: 14px 25px;
  margin-left: 1rem;
  text-decoration: none;
  text-align: center;
}

a:hover {
  background-color: lightsteelblue;
}

footer {
  padding: 10px;
  flex: 50%;
  text-align: center;
  margin-top: 2px;
}
